@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Barlow:wght@400;500;700&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Barlow:wght@400;500;700&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  -webkit-transition: all 0.5s 0s linear;
  transition: all 0.5s 0s linear;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  -webkit-transition: all 0.5s 0s linear;
  transition: all 0.5s 0s linear;
}

.header {
  min-width: 270px;
  max-width: 1180px;
  width: 97%;
  margin: 0 auto;
  padding: 30px 20px;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menuToggle {
  background-image: url(../assets/shared/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 99999;
}

.header__menuToggle.active {
  background-image: url(../assets/shared/icon-close.svg);
}

.header__menu {
  position: fixed;
  z-index: 99997;
  top: 0;
  right: -100%;
  height: 100%;
  width: 75%;
  background-image: linear-gradient(70deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-backdrop-filter: blur(11.125rem) brightness(155%) opacity(100%);
          backdrop-filter: blur(11.125rem) brightness(155%) opacity(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  padding: 20px 40px;
  -webkit-transition: right 0.5s 0s linear;
  transition: right 0.5s 0s linear;
}

.header__menu.active {
  right: 0;
}

.header__list {
  list-style: none;
}

.header__link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #fff;
  color: #fff;
  -webkit-transition: width 0.5s 0s ease;
  transition: width 0.5s 0s ease;
}

.header__link:hover::after {
  content: "";
  width: 100%;
  opacity: 1;
}

.header__link.active::after {
  content: "";
  opacity: 0.5;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 30px;
  }
  .header__menuToggle {
    display: none;
  }
  .header__logo {
    width: 38%;
    position: relative;
  }
  .header__logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 3px;
    width: 50%;
  }
  .header__menu {
    width: 58%;
    position: relative;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 35px;
  }
  .header__link::after {
    bottom: -35px;
  }
  .header__link span {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo::after {
    top: 50%;
    left: 45%;
    width: 70%;
  }
}

body {
  font-family: "Barlow", sans-serif;
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
  -webkit-transition: all 0.5s 0s linear;
  transition: all 0.5s 0s linear;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}

.main {
  min-width: 270px;
  max-width: 1180px;
  width: 97%;
  margin: 0 auto;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "article" "explore";
  gap: 40px;
}

.home__article {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: article;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.home__explore {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: explore;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__explore--cta {
  font-family: "Bellefair", serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 200px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s 0s ease;
  transition: -webkit-box-shadow 0.5s 0s ease;
  transition: box-shadow 0.5s 0s ease;
  transition: box-shadow 0.5s 0s ease, -webkit-box-shadow 0.5s 0s ease;
}

.home__explore--cta:hover {
  -webkit-box-shadow: 0px 0 10px 30px rgba(255, 255, 255, 0.274);
          box-shadow: 0px 0 10px 30px rgba(255, 255, 255, 0.274);
}

.home__middleheading {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
}

.home__firstheading {
  text-transform: uppercase;
  color: #fff;
  font-family: "Bellefair", serif;
  font-size: 85px;
  font-weight: 300;
}

.home__paragraph {
  color: rgba(255, 255, 255, 0.74);
  font-size: 15px;
  line-height: 25px;
}

@media screen and (min-width: 1024px) {
  .home {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "article explore";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: article;
  }
  .home__explore {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: explore;
  }
  .home__explore--cta {
    width: 300px;
    height: 300px;
    font-size: 30px;
  }
  .home__middleheading {
    font-size: 26px;
  }
  .home__firstheading {
    font-size: 150px;
  }
  .home__paragraph {
    font-size: 18px;
    text-align: left;
    line-height: 28px;
  }
}
/*# sourceMappingURL=estilos.css.map */