@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Barlow:wght@400;500;700&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Barlow:wght@400;500;700&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  -webkit-transition: all 0.5s 0s linear;
  transition: all 0.5s 0s linear;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  -webkit-transition: all 0.5s 0s linear;
  transition: all 0.5s 0s linear;
}

.header {
  min-width: 270px;
  max-width: 1180px;
  width: 97%;
  margin: 0 auto;
  padding: 30px 20px;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menuToggle {
  background-image: url(../assets/shared/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 99999;
}

.header__menuToggle.active {
  background-image: url(../assets/shared/icon-close.svg);
}

.header__menu {
  position: fixed;
  z-index: 99997;
  top: 0;
  right: -100%;
  height: 100%;
  width: 75%;
  background-image: linear-gradient(70deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-backdrop-filter: blur(11.125rem) brightness(155%) opacity(100%);
          backdrop-filter: blur(11.125rem) brightness(155%) opacity(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  padding: 20px 40px;
  -webkit-transition: right 0.5s 0s linear;
  transition: right 0.5s 0s linear;
}

.header__menu.active {
  right: 0;
}

.header__list {
  list-style: none;
}

.header__link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #fff;
  color: #fff;
  -webkit-transition: width 0.5s 0s ease;
  transition: width 0.5s 0s ease;
}

.header__link:hover::after {
  content: "";
  width: 100%;
  opacity: 1;
}

.header__link.active::after {
  content: "";
  opacity: 0.5;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__menuToggle {
    display: none;
  }
  .header__logo {
    width: 38%;
    position: relative;
  }
  .header__logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 3px;
    width: 50%;
  }
  .header__menu {
    width: 58%;
    position: relative;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__link::after {
    bottom: -20px;
  }
  .header__link span {
    display: none;
  }
}

body {
  font-family: "Barlow", sans-serif;
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.main {
  min-width: 270px;
  max-width: 1180px;
  width: 97%;
  margin: 0 auto;
  padding: 40px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "title" "banner" "pagination" " bannerDescription";
  gap: 30px;
}

.main__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: center;
}

.main__banner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
  position: relative;
  min-height: 150px;
}

.main__picture {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s 0s ease;
  transition: opacity 0.5s 0s ease;
}

.main__picture.active {
  opacity: 1;
}

.main__middleheading {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.main__middleheading span {
  color: gray;
}

.main__photo {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__pagination {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pagination;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.main__pagination--btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: background-color 0.5s 0s ease, color 0.5s 0s ease;
  transition: background-color 0.5s 0s ease, color 0.5s 0s ease;
}

.main__pagination--btn:hover {
  background-color: #fff;
  color: #000;
}

.main__pagination--btn.active {
  background-color: #fff;
  color: #000;
}

.main__bannerDescription {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: bannerDescription;
  position: relative;
  min-height: 300px;
}

.main__bannerDescription--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.5s 0s ease;
  transition: 0.5s 0s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.main__bannerDescription--item.active {
  opacity: 1;
}

.main__firstheading {
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
}

.main__secondheading {
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0.7;
}

.main__paragraph {
  color: #fff;
  opacity: 0.7;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .main__banner {
    min-height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    -ms-grid-columns: 100px 1fr 1fr;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-areas: "title title title" "pagination bannerDescription banner";
  }
  .main__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: title;
    text-align: left;
  }
  .main__banner {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: banner;
    min-height: 450px;
  }
  .main__pagination {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pagination;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__bannerDescription {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: bannerDescription;
  }
  .main__bannerDescription--item {
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 450px;
  }
  .main__firstheading {
    font-size: 46px;
  }
  .main__secondheading {
    font-size: 24px;
  }
  .main__paragraph {
    font-size: 18px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=technology.css.map */